body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 0;
  min-height: 100vh;
  overflow-x: hidden;
  min-height: 100vh;
  background: #667db6;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

header {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 125px;
  background: #E0EAFC;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #CFDEF3, #E0EAFC);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.statsboxs {
  display: flex;
  justify-content: center;
  position: relative;
  width: 250px;
  height: 200px;
  border-radius: 30px;
  background: #E0EAFC;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #CFDEF3, #E0EAFC);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.statselementsboxs {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: 200px;
}

.firststat {
  margin-top: 20px;
  font-size: 100px;
  font-weight: bold;
}

.secondstat {
  font-size: 25px;
  font-weight: lighter;
}

#bixtextspace {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 100px;
  font-size: 65px;
  font-weight: bold;
  color: white;
}

main {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.columnboxs {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 40%;
  height: 649px;
}

.insidecolumnboxs {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 90%;
  height: 100%;
}

#columnboxsimage {
  background-image: url(assets/doctorimage.png);
  background-position: center;
  background-size: cover;
  background-attachment: local;
}

.littlecolumnboxs {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  height: 50%;
  width: 100%;
}

#upleftlittlecolumnboxsphotospace {
  display: flex;
  width: 34%;
  height: 45%;
  background-image: url(assets/downloadlogo.png);
  background-size: 99%;
  background-position: center;
}

#downleftlittlecolumnboxsphotospace {
  display: flex;
  width: 41%;
  height: 55%;
  background-image: url(assets/installationlogo.png);
  background-size: 101%;
  background-position: center;
}

#uprightlittlecolumnboxsphotospace {
  display: flex;
  width: 40%;
  height: 52%;
  background-image: url(assets/configutationlogo.png);
  background-size: 101%;
  background-position: center;
}

#downrightlittlecolumnboxsphotospace {
  display: flex;
  width: 33%;
  height: 44%;
  background-image: url(assets/activationlogo.png);
  background-size: 100%;
  background-position: center;
}

.littlecolumnboxstextspace {
  color: white;
  font-size: 20px;
  font-weight: lighter;
  align-items: center;
  text-align: center;
}

