body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 0;
}

#background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 115%;
  object-fit: cover;
  z-index: -1;
}

header {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 125px;
  background-color: white;
}

.statsboxs {
  display: flex;
  justify-content: center;
  position: relative;
  width: 300px;
  height: 275px;
  border-radius: 30px;
  background-color: white;
}

.statselementsboxs {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  width: 250px;
  height: 250px;
}

.firststat {
  margin-top: 30px;
  font-size: 100px;
  font-weight: bold;
}

.secondstat {
  font-size: 25px;
  font-weight: lighter;
}

#bixtextspace {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 180px;
  font-size: 65px;
  font-weight: bold;
  color: white;
}
main {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.columnboxs {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 40%;
  height: 550px;
}

.insidecolumnboxs {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  border: 2px solid white;
  width: 90%;
  height: 100%;
}

#columnboxsimage {
  background-image: url(assets/doctorimage.png);
  background-position: center;
  background-size: cover;
  background-attachment: local;
}
